<!-- Custom navbar -->
<navbar [ocultarIconoNuevaSolicitud]="ocultarIcono()"></navbar>

<ion-content padding class="nueva-solicitud">
	<ion-list no-lines>

	<form [ngFormModel]="nuevaSolicitudForm" (change)="guardarCambios()">

		<!-- Institucion  -->
		<ion-item>
			<ion-label floating>Institucion</ion-label>
			<ion-input id="autocomplete" [(ngModel)]="institucionValue" ngControl="institucion" type="text"></ion-input>
		</ion-item>
		<ion-item *ngIf="ctrlInstitucion.touched && !ctrlInstitucion.valid && ctrlInstitucion.errors.required">
			<span class="mensaje-error">Ingrese el nombre de la institución.</span>
		</ion-item>

		<!-- Dirección  -->
		<ion-item>
			<ion-label floating>Direccion</ion-label>
			<ion-input [(ngModel)]="direccionValue" ngControl="direccion" type="text"></ion-input>
		</ion-item>
		<ion-item *ngIf="ctrlDireccion.touched && !ctrlDireccion.valid && ctrlDireccion.errors.required">
			<span class="mensaje-error">Ingrese la dirección.</span>
		</ion-item>

	</form>

	<h3>Value:</h3>
	<pre>{{cgValue}}</pre>
	<h3>Validity:</h3>
	<pre>{{nuevaSolicitudForm.valid}}</pre>

	<button class="submit" (click)="guardarCambios()" primary>Crear Solicitud</button>

	</ion-list>

	

</ion-content>


