<ion-header>
	<ion-navbar color="negro">
		<ion-title>Mis Solicitudes</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item-sliding *ngFor="let tituloSolicitud of solicitudes">
            <ion-item [class.solicitud-activa]="tituloSolicitud.estaActiva">
                <ion-avatar item-left>
                    <ion-icon name="water"></ion-icon>
                </ion-avatar>
                <h2>{{ tituloSolicitud.solicitud.nombrePaciente }}</h2>
                <h3>{{ tituloSolicitud.solicitud.institucion  }}</h3>
                <p>{{ tituloSolicitud.solicitud.fechaCreacion | formatearFecha }}</p>
            </ion-item>
            <ion-item-options side="right">
                <button (click)="editarSolicitud(tituloSolicitud.solicitud)" ion-button color="grisClaro">
                    Editar
                </button>
                <button (click)="verDetalles(tituloSolicitud.solicitud)" ion-button color="principal">
                    Ver Detalles
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>