mis-solicitudes-page {

    ion-item-options button {
        min-width: 75px;
    }

    ion-avatar ion-icon {
        font-size: 4rem;
    }

    ion-item.solicitud-activa ion-icon {
        color: $principal;
    }

    ion-item:not(.solicitud-activa) ion-icon {
        color: $grisClaro;
    }
}