mis-solicitudes-page {

    ion-item-options button {
        min-width: 75px;
    }

    ion-avatar ion-icon {
        font-size: 4rem;
    }

    ion-item.sin-resultados {
		margin-top: 0.75rem;
		margin-bottom: 60px;
		display: block;
	}

    button.floating-btn {
        width: 60px;
        height: 60px;
        // border: 2px solid $blanco;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        position: fixed;
        bottom: 2rem;
        right: 3.4rem;
    }
}