<ion-header>
	<ion-navbar red>
		<ion-title>Más Detalles</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>    
    <ion-list no-lines>



      <ion-item class="header">
        <h3>Se necesitan 
          <span *ngIf="solicitudSeleccionada.cantidadDadores" class="marked">
            {{ solicitudSeleccionada.cantidadDadores }} dadores
          </span>
          <span *ngIf="!solicitudSeleccionada.cantidadDadores"> dadores</span>
        </h3>        
        <h2 [innerHTML]="getTiposSanguineosBuscados() | tiposSanguineos: getDescripcionTipoSanguineo()"></h2>
        <span class="fecha">
          {{ solicitudSeleccionada.fechaCreacion | timeago }}
        </span>
      </ion-item>



      <ion-item class="detail-item">
        <ion-avatar item-left>
          <ion-icon softRed name="water" item-left></ion-icon>
        </ion-avatar>
        <h2>Puede recibir de</h2>
        <p [innerHTML]="getTiposSanguineosBuscados() | tiposSanguineos: getDescripcionTipoSanguineo()"></p>
        <span *ngIf="getDescripcionTipoSanguineo()"><ion-icon name="checkmark"></ion-icon> Podés donar</span>
      </ion-item>



      <ion-item class="detail-item">
        <ion-avatar item-left>
          <ion-icon softRed name="pin" item-left></ion-icon>
        </ion-avatar>
        <h2>Localidad</h2>
        <p>{{ solicitudSeleccionada.ciudad.nombre }}, {{ solicitudSeleccionada.provincia.nombre }},</p>
      </ion-item>



      <ion-item class="detail-item">
        <ion-avatar item-left>
          <ion-icon softRed name="home" item-left></ion-icon>
        </ion-avatar>
        <h2>Lugar y dirección</h2>
        <p>{{ solicitudSeleccionada.institucion }}</p>
        <p>{{ solicitudSeleccionada.direccion }}</p>
        <a href="#">¿Cómo llego?</a>
      </ion-item>



      <div class="map-container">
        <div id="map" style="width: 100%; height: 100%;"></div>
        <div id="overlay"></div>  
      </div>
      


      <ion-item class="detail-item">
        <ion-avatar item-left>
          <ion-icon softRed name="time" item-left></ion-icon>
        </ion-avatar>
        <h2>Horario de Donación</h2>
        <p>{{ solicitudSeleccionada.horaDesde }} - {{ solicitudSeleccionada.horaHasta }}</p>
      </ion-item>



      <ion-item class="detail-item">
        <ion-avatar item-left>
          <ion-icon softRed name="person" item-left></ion-icon>
        </ion-avatar>
        <h2>Nombre del Paciente</h2>
        <p>{{ solicitudSeleccionada.nombrePaciente }}</p>
      </ion-item>



      <ion-item class="detail-item">
        <ion-avatar item-left>
          <ion-icon softRed name="people" item-left></ion-icon>
        </ion-avatar>
        <h2>Dadores necesitados</h2>
        <p>{{ solicitudSeleccionada.cantidadDadores ? solicitudSeleccionada.cantidadDadores : 1 }}</p>
      </ion-item>



      <ion-item *ngIf="solicitudSeleccionada.datosAdicionales" class="detail-item">
        <ion-avatar item-left>
          <ion-icon softRed name="information-circle" item-left></ion-icon>
        </ion-avatar>
        <h2>Datos adicionales</h2>
        <p>{{ solicitudSeleccionada.datosAdicionales }}</p>
      </ion-item>



    </ion-list>
</ion-content>
