resumen-solicitud {

	// Tamaños de fuente
	$encabezado_textoPrincipal: 			1.6rem;
	$encabezado_textoSecundario:			1.4rem;
	$encabezado_textoSecundarioResaltado:	1.8rem;
	$encabezado_tamanioIconoCompatibilidad: 2.0rem;

	$detalle_textoPrincipal:				1.3rem;
	$detalle_textoHora:						1.3rem;
	$detalle_textoLink:						1.3rem;

	ion-card,
	ion-card.card-md,
	ion-card.card-ios {
		position: relative;
		margin: 0 0 20px;
    	width: 100%;
	}

	ion-card:first-child {
    	margin-top: 0px;
	}

	ion-item.encabezado h2 {
		color: $blanco;
		font-size: $encabezado_textoSecundario;
	}

	ion-card ion-item.encabezado.compatible {
	    background-color: $principal;

		h2.desc-tipos-sanguineos,
		ion-icon.icono-compatibilidad {
			display: inline-block;
		}

		ion-icon.icono-compatibilidad {
			font-size: $encabezado_tamanioIconoCompatibilidad;
		}
	}

	ion-card ion-item.encabezado:not(.compatible) {
	    background-color: $negro;

		h2:last-child {
    		color: $grisClaro;
		}
	}

	ion-item.encabezado .marked {
		font-weight: bold;
		font-size: $encabezado_textoSecundarioResaltado;
	}

	ion-item.encabezado h2:first-child {
    	font-size: $encabezado_textoPrincipal;
	}

	button.top-middle {
		position: absolute;
		top: 3.6rem;
		right: 2rem;
		box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	}

	.detalle-solicitud {
		font-size: $detalle_textoPrincipal;
		color: $negro; 
	}

	.detalle-solicitud ion-row:last-child ion-col:first-child,
	{
    	color: $grisClaro;
		font-size: $detalle_textoHora;  	
	}

	.detalle-solicitud ion-row:last-child ion-col:last-child,
	{
    	color: $principal;
		font-size: $detalle_textoLink;
		font-weight: 500;    	
	}
}