<ion-card>

	<!-- Layout para cuando es compatible -->
	<ion-item [class.compatible]="solicitudItemModel.esCompatibleConUsuario" class="encabezado">
		<h2> 
          <span>{{ solicitudItemModel.solicitud.cantidadDadores === 1 ? 'Se necesita ' : 'Se necesitan ' }}</span>
          <strong *ngIf="solicitudItemModel.solicitud.cantidadDadores">
          	{{ solicitudItemModel.solicitud.cantidadDadores }}
          </strong>
          <span>{{ solicitudItemModel.solicitud.cantidadDadores === 1 ? ' dador' : ' dadores' }}</span>
        </h2>  

		<h3 class="desc-tipos-sanguineos" [innerHTML]="solicitudItemModel.descripcionTiposSanguineos"></h3>
		<ion-icon  class="icono-compatibilidad" name="checkmark-circle-outline" color="principalOscuro" *ngIf="solicitudItemModel.esCompatibleConUsuario"></ion-icon>
	</ion-item>

	<button ion-fab color="blanco" (click)="mostrarRuta()" class="top-middle">
		<ion-icon color="principal" name="pin"></ion-icon>
	</button>

	<ion-card-content class="detalle-solicitud">
		<ion-row>
			<ion-col>
				<ion-icon name="pin"></ion-icon>
				{{ solicitudItemModel.solicitud.localidad.nombre }}, {{ solicitudItemModel.solicitud.provincia.nombre}}
			</ion-col>			
		</ion-row>
		<ion-row>
			<ion-col width-60>
				<ion-icon name="home"></ion-icon>
				{{ solicitudItemModel.solicitud.institucion }}
			</ion-col>
			<ion-col width-40>
				<ion-icon name="time"></ion-icon>
				{{ solicitudItemModel.solicitud.horaDesde }} - {{ solicitudItemModel.solicitud.horaHasta }}
			</ion-col>
		</ion-row>	
		<ion-row>
			<ion-col width-60>
				<ion-note>
					{{ solicitudItemModel.solicitud.fechaCreacion | formatearFecha }}
				</ion-note>
			</ion-col>
			<ion-col class="ver-detalles" tappable width-40 (click)="verDetalles()">
				VER MÁS <ion-icon name="arrow-forward"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-card-content>
</ion-card>