<ion-header>
	<ion-navbar red>
		<ion-title>Mis Datos</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>

	<ion-list>
		<form (ngSubmit)="guardarCambios()" #datos="ngForm">



			<!-- Provincia  -->
			<ion-item>
				<ion-label floating>Provincia</ion-label>
				<ion-select [(ngModel)]="datosUsuario.provincia" okText="Aceptar" cancelText="Cancelar" name="provincia" #provincia="ngModel" (ionChange)="inicializarCiudadesDeLaProvincia()">
					<ion-option *ngFor="let provincia of listaProvincias" [value]="provincia">
						{{provincia.nombre}}
					</ion-option>
				</ion-select>
			</ion-item>



			<!-- Ciudad  -->
			<ion-item>
				<ion-label floating>Ciudad</ion-label>
				<ion-select [(ngModel)]="datosUsuario.ciudad" okText="Aceptar" cancelText="Cancelar" name="ciudad" #ciudad="ngModel">
					<ion-option *ngFor="let ciudad of listaCiudades" [value]="ciudad">
						{{ciudad.nombre}}
					</ion-option>
				</ion-select>
			</ion-item>



			<!-- Grupo sanguineo  -->
			<ion-item class="half-size">
				<ion-label floating>Grupo</ion-label>
				<ion-select [(ngModel)]="datosUsuario.grupoSanguineo" okText="Aceptar" cancelText="Cancelar" name="grupo" #grupo="ngModel">
					<ion-option *ngFor="let grupo of listaGruposSanguineos" [value]="grupo">
						{{grupo.nombre}}
					</ion-option>
				</ion-select>
			</ion-item>



			<!-- Factor sanguineo  -->
			<ion-item class="half-size">
				<ion-label floating>Factor</ion-label>
				<ion-select [(ngModel)]="datosUsuario.factorSanguineo" okText="Aceptar" cancelText="Cancelar" name="factor" #factor="ngModel">
					<ion-option *ngFor="let factor of listaFactoresSanguineos" [value]="factor">
						{{factor.nombre}}
					</ion-option>
				</ion-select>
			</ion-item>

			


			<button class="submit" red full>
				Guardar datos
			</button>

		</form>
	</ion-list>

</ion-content>
