solicitud-item {

	ion-item ion-icon {
		font-size: 3.2rem;
		color: $red2;
	}

	ion-avatar {
		margin: 0 !important;
	}

	ion-card {
		position: relative;
	}

	ion-card ion-item.item:first-child {
	    color: #fff;
	    background-color: #f32d2e;
	}

	button.top-middle {
		top: 3.6rem;
		box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	}

	.detalle-solicitud {
		font-size: 1.2rem !important;
	}

	.detalle-solicitud ion-row:not(:last-child),
	 {
    	color: #666;    	
	}
}