// Hoja de Estilos
// 01 - Generales
// 02 - Forms
// 03 - Iconos
// 04 - Login 


// 01 - Generales
// --------------------------------------------------

ion-title.title-md img.logo {
    max-width: 180px;
    margin: 6px 0 2px;
}

ion-title.title-ios img.logo {
    max-width: 150px;
    margin: 6px 0 2px;
}


// 02 - Forms
// --------------------------------------------------

span.mensaje-error {
	color: $form_colorTextoValidacion;
    font-size: 1.3rem;
    padding: 10px 16px;
    display: block;
}

p {
	white-space: pre-line;
}

button[type='submit'],
button.submit {
	margin-top: 50px;

}

ion-item.half-size {
	max-width: 49%;
	display: inline-block;
}

button.alert-radio-button[aria-checked="true"] {
	background-color: $principal;
}

/* Estilos para los forms en iOS*/
body.ios form {

	ion-item .item-inner {
	    border-bottom: none;
	}

	ion-label {
	    margin-left: 10px;
	}

	ion-input, 
	ion-textarea,
	ion-select,
	ion-item.item-datetime .input-wrapper {
		background-color: ios_colorFondoCampo
	}

	ion-input, 
	ion-textarea {	    
	    padding: 0px 10px;
	} 

	ion-select {
		padding: 8px 10px;
	}

	/* Fix para el componente datetime */
	ion-item.item-datetime .input-wrapper {
    	margin-top: 25px;
	}

	ion-item.ng-invalid.ng-touched ion-input,
	ion-select.ng-invalid.ng-touched,
	ion-item.ng-invalid.ng-touched ion-textarea
	ion-item.ng-touched.item-datetime.input-has-value .input-wrapper {
        background-color: $ios-colorMensajeError;
	}

	ion-item.ng-touched.ng-valid ion-input,
	ion-item ion-select.ng-touched.ng-valid,
	ion-item.ng-touched.ng-valid ion-textarea,
	ion-item.ng-touched.item-datetime.input-has-value .input-wrapper {
        background-color: $ios-colorMensajeExito;
	}
}

/* Estilos para los forms en Android */
body.md form {

	/* Fix para bug en el label al poner el foco en el campo */
	ion-label[floating],
	ion-label[stacked] {
		color: $form_colorTexto;
	}

	/* Fix para mostrar la validacion en azul cuando el input tiene el cursor */
	ion-item.submitted.input-has-focus .item-inner,
	ion-item:not(.submitted).input-has-focus .item-inner {
		border-bottom: 2px solid $android_colorFocus !important;
	}

}

// 03 - Iconos
// --------------------------------------------------

ion-icon.ion-logo-facebook.menu-icon {
    background-color: $color_facebook;
    color: $blanco;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 10px;
    font-size: 3em;
}

ion-icon.ion-logo-twitter.menu-icon {
    background-color: $color_twitter;
    color: $blanco;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 10px;
    font-size: 3em;
}

ion-icon.ion-logo-googleplus.menu-icon {
    background-color: $color_googlePlus;
    color: $blanco;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 10px;
    font-size: 3em;
}

// 03 - Login
// --------------------------------------------------

div.social-container {
	padding: 20px 0;
    border-bottom: 1px solid black;
}

.social-title {
	text-align: center;	

	h4 {
		margin-top: 0;
	}
}
.social-links {
	margin: 0px;
	padding: 0 10px;
	text-align: center;

}

ion-list.main-menu {
	margin-top: 20px;
}

ion-row.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

ion-row.profile {
	background-color: $principal;
	color: $blanco;
    text-align: center;
}

/* Auth0 styles */
.auth0-lock.auth0-lock .auth0-lock-widget {
    width: 100%;
}

.auth0-lock.auth0-lock .auth0-lock-content {
	padding: 20px 10px;
}

ion-col#hiw-login-container {
    padding: 0;
    border-bottom: 1px solid #222;
}

.auth0-lock.auth0-lock .auth0-lock-header-bg .auth0-lock-header-bg-solid {
	opacity: 0;
}

.auth0-lock.auth0-lock .auth0-lock-header {
	padding: 24px 14px 0px 14px;
}

.auth0-lock.auth0-lock .auth0-lock-social-button:not(.auth0-lock-social-big-button) {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin: 0 10px;
}

.auth0-lock.auth0-lock .auth0-lock-social-button:not(.auth0-lock-social-big-button) .auth0-lock-social-button-icon {
	width: 55px;
	height: 55px;
}