<ion-menu [content]="content" side="right" persistent="true" >
  <ion-content>

    <ion-row [hidden]="loginService.estaLogueado()">
      <ion-col id="hiw-login-container" width-100>
      </ion-col>
    </ion-row>

    <ion-row [hidden]="!loginService.estaLogueado()" class="profile">
      <ion-col width-100>
        <img *ngIf="loginService.user?.picture" [src]="loginService.user?.picture">
        <h3>{{ loginService.user?.name }}</h3>
      </ion-col>
    </ion-row>

    <!-- Main navigation links-->
    <ion-list no-lines class="main-menu">
      <template ngFor let-pagina [ngForOf]="paginasMenu">

        <button menuClose ion-item detail-none *ngIf="!pagina.requiereLogin || pagina.requiereLogin && loginService.estaLogueado()" (click)="abrirPagina(pagina)">
          <ion-icon color="principal" ios="{{pagina.getIconoIosOutline()}}" md="{{pagina.getIconoAndroid()}}" item-left></ion-icon>
          {{ pagina.titulo }}
        </button>

      </template>

    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>