intro-page {

    .button-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 65px;
        min-width: 120px;
        margin: auto;
    }

    .button-container button {
        display: inline-block;
    }
}