<ion-slides [options]="opcionesSlider">
  <ion-slide>
    <img src="assets/images/slide1.png">
  </ion-slide>
  <ion-slide>
    <img src="assets/images/slide2.png">
  </ion-slide>
  <ion-slide>
    <img src="assets/images/slide3.png">
  </ion-slide>
  <ion-slide>
    <img src="assets/images/slide4.png">
    <div class="button-container">
      <button (click)="verListaSolicitudes()" color="principal" ion-button>Omitir</button>
      <button (click)="inicializarPreferencias()" color="blanco" ion-button>Configurar</button>
    </div>
  </ion-slide>
</ion-slides>