<ion-header no-shadow>
	<ion-navbar color="principal">
		<ion-title><img class="logo" src="assets/images/logo_principal_blanco.png" alt=""></ion-title>
		<button ion-button menuToggle="right" end>
			<ion-icon name="menu"></ion-icon>
		</button>

		<ion-buttons *ngIf="isIos" end>
			<button ion-button (click)="nuevaSolicitud()"><ion-icon name="add"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>

	<ion-toolbar>
		<ion-segment color="principal" [(ngModel)]="seccion">
			<ion-segment-button value="solicitudes">
				Solicitudes
			</ion-segment-button>
			<ion-segment-button value="filtros" (ionSelect)="inicializarFiltros()">
				Filtros
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>

</ion-header>

<ion-content padding>

	<div [ngSwitch]="seccion">
		<div *ngSwitchCase="'solicitudes'">
			<!-- Creamos una lista de solicitudes usando el componente solicitud-item -->
			<resumen-solicitud *ngFor="let solicitudItemModel of solicitudes" 
				[solicitudItemModel]="solicitudItemModel"
				(seleccionarSolicitud)="abrirDetalles($event)">		
			</resumen-solicitud>

			<ion-fab *ngIf="!isIos">
				<button ion-fab class="floating-btn" color="principal" fab (click)="nuevaSolicitud()"><ion-icon name="add"></ion-icon></button>
			</ion-fab>

			

			<button *ngIf="hayMasSolicitudes" class="submit" color="principal" full (click)="buscarSolicitudes()">
				Ver mas solicitudes
			</button>
		</div>
			
		<ion-list *ngSwitchCase="'filtros'">
			<form #filtros="ngForm">



				<!-- Provincia  -->
				<ion-item>
					<ion-label floating>Provincia</ion-label>
					<ion-select [(ngModel)]="provinciaSeleccionada" okText="Aceptar" cancelText="Cancelar" name="provincia" #provincia="ngModel" (ionChange)="inicializarCiudadesDeLaProvincia()">
						<ion-option *ngFor="let provincia of listaProvincias" [value]="provincia">
							{{provincia.nombre}}
						</ion-option>
					</ion-select>
				</ion-item>



				<!-- Ciudad  -->
				<ion-item>
					<ion-label floating>Ciudad</ion-label>
					<ion-select [(ngModel)]="ciudadSeleccionada" okText="Aceptar" cancelText="Cancelar" name="ciudad" #ciudad="ngModel">
						<ion-option *ngFor="let ciudad of listaCiudades" [value]="ciudad">
							{{ciudad.nombre}}
						</ion-option>
					</ion-select>
				</ion-item>



				<!-- Grupo sanguineo  -->
				<ion-item>
					<ion-label floating>Tu grupo sanguineo</ion-label>
					<ion-select [(ngModel)]="grupoSanguineoSeleccionado" okText="Aceptar" cancelText="Cancelar" name="grupo" #grupo="ngModel">
						<ion-option *ngFor="let grupo of listaGruposSanguineos" [value]="grupo">
							{{grupo.nombre}}
						</ion-option>
					</ion-select>
				</ion-item>



				<!-- Factor sanguineo  -->
				<ion-item>
					<ion-label floating>Tu factor sanguineo</ion-label>
					<ion-select [(ngModel)]="factorSanguineoSeleccionado" okText="Aceptar" cancelText="Cancelar" name="factor" #factor="ngModel">
						<ion-option *ngFor="let factor of listaFactoresSanguineos" [value]="factor">
							{{factor.nombre}}
						</ion-option>
					</ion-select>
				</ion-item>


				<!-- Toggle para usar datos personales como filtro -->
				<ion-item *ngIf="datosUsuarioObj">
				    <ion-label>Usar mis preferencias</ion-label>
				    <ion-toggle color="principal" [(ngModel)]="usarDatosPersonales" (ionChange)="usarDatosUsuario()" name="usarDatosPersonales"></ion-toggle>
				</ion-item>
				<ion-item text-wrap *ngIf="!datosUsuarioObj">
					<p>Si desea puede configurar sus preferencias en <strong>Configurar preferencias</strong> para luego poder utilizarlas automáticamente como filtro de búsqueda.</p>
				</ion-item>				

			</form>

			<button ion-button class="btn-inline btn-secondary reset" color="gris" full (click)="borrarFiltros()">
				Borrar
			</button>

			<button ion-button class="btn-inline btn-primary" (click)="buscarSolicitudes()" color="principal" full>
				Buscar Solicitudes
			</button>
				
		</ion-list>
	</div>

</ion-content>
