<ion-header>
	<ion-navbar color="negro">
		<ion-title>Sobre Nosotros</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>

	<div padding>
		
		<h2 class="titulo-principal">Una iniciativa de 
			<span><img src="assets/images/flioh.png"></span>
		</h2>

		<h3>Nosotros</h3>

		<p>Somos un pequeño estudio de diseño de la ciudad de Santa Fe especializado en la creación de productos digitales.</p>

		<h3>La Idea</h3>

		<p>Desde lo profesional, siempre nos proponemos aprender nuevas tecnologías buscando aquellas que puedan tener un fuerte impacto en la sociedad. Desde lo personal, y especialmente como estudiantes de una universidad pública, <strong>sentimos la necesidad de contribuir con la sociedad desde el lugar que nos toca ocupar</strong>. Donemos es la unión de ambos objetivos.</p>

		<p>Las personas utilizan las redes sociales y aplicaciones tales como whatsapp o el correo electrónico para solicitar donantes, lo que hace muy difícil volver a encontrar la información al cabo de unos días. Es por esto que decidimos generar una plataforma que ayude a conectar a quienes necesitan donantes y quienes puedan colaborar (sin ser necesariamente familiares o amigos).</p>

		<p>Luego de hablar con especialistas tomamos conciencia de lo sencillo, seguro y práctico que resulta donar sangre, y del gran impacto que tiene, porque lamentablemente siempre hace falta. Es por esto que nuestro objetivo se vuelve más ambicioso: <strong>generar conciencia para lograr que cada vez haya mayor cantidad de donantes voluntarios (y no sólo de reposición cuando un amigo o familiar lo necesita) para que nuestro país tenga un stock recurrente de sangre segura.</strong></p>

	</div>
	
	<ion-item padding text-wrap class="informacion">
		<p>Ojalá algún día las donaciones no estén vinculadas a situaciones de emergencia, sino más bien a algo cotidiano y habitual en nuestras vidas; ojalá algún día esta aplicación ya no sea necesaria.</p>
	</ion-item>

</ion-content>