/* Variables a usar en las validaciones */

$label-color: #999;
$validation-text-color: #7f7f7f;

$ios-field-bg 	: #f2f2f2;
$ios-error 		: rgba(245, 61, 61, 0.25);
$ios-valid 		: rgba(50, 219, 100, 0.25);
$ios-text-color	: #d2d2d2;

$android-focus 	: #387ef5;



/* Estilos generales para iOs, Android y Windows Phone */
span.mensaje-error {
	color: $validation-text-color;
    font-size: 1.3rem;
    padding: 10px 16px;
    display: block;
}

button.submit {
	margin-top: 30px;
}

ion-item.half-size {
	max-width: 49%;
	display: inline-block;
}

/* Fix para mostrar correctamente la opcion seleccionada del popup que se usa en los elementod de tipo select */
button[aria-checked="true"] {
	background-color: #f32d2e;
}

/* Estilos para los forms en iOS*/
body.ios form {

	ion-item .item-inner {
	    border-bottom: none;
	}

	ion-label {
	    margin-left: 10px;
	}

	ion-input, 
	ion-textarea,
	ion-select,
	ion-item.item-datetime .input-wrapper {
		background-color: $ios-field-bg;
	}

	ion-input, 
	ion-textarea {	    
	    padding: 0px 10px;
	} 

	ion-select {
		padding: 8px 10px;
	}

	/* Fix para el componente datetime */
	ion-item.item-datetime .input-wrapper {
    	margin-top: 25px;
	}

	ion-item.ng-invalid.ng-touched ion-input,
	ion-select.ng-invalid.ng-touched,
	ion-item.ng-invalid.ng-touched ion-textarea
	ion-item.ng-touched.item-datetime.input-has-value .input-wrapper {
        background-color: $ios-error;
	}

	ion-item.ng-touched.ng-valid ion-input,
	ion-item ion-select.ng-touched.ng-valid,
	ion-item.ng-touched.ng-valid ion-textarea,
	ion-item.ng-touched.item-datetime.input-has-value .input-wrapper {
        background-color: $ios-valid;
	}
}

/* Estilos para los forms en Android */
body.md form {

	/* Fix para bug en el label al poner el foco en el campo */
	ion-label[floating],
	ion-label[stacked] {
		color: $label-color;
	}

	/* Fix para mostrar la validacion en azul cuando el input tiene el cursor */
	ion-item.submitted.input-has-focus .item-inner,
	ion-item:not(.submitted).input-has-focus .item-inner {
		border-bottom: 2px solid $android-focus !important;
	}

}
