ion-icon.ion-logo-facebook.menu-icon {
    background-color: #3b5998;
    color: #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 10px;
    font-size: 3em;
}

ion-icon.ion-logo-twitter.menu-icon {
    background-color: #53a3ff;
    color: #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 10px;
    font-size: 3em;
}

ion-icon.ion-logo-googleplus.menu-icon {
    background-color: #d34836;
    color: #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 10px;
    font-size: 3em;
}