lista-bancos-sangre-page {

	.label-md[stacked], 
	.label-md[floating] {
		color: #999;
	}

	ion-item-divider.item-md {
		background-color: $principal;
		color: $blanco;
	}

	.filtros-busqueda {
		border-top: .55px solid #c8c7cc;
		border-bottom: .55px solid #c8c7cc;

		button.button-md-principal {
			margin-bottom: 20px;
		}
	}

	ion-item.sin-resultados {
		margin-top: 0.75rem;
		margin-bottom: 60px;
	}

	ion-item.sin-resultados {
		display: block;
	    padding: 1.5rem;
	}
}