<ion-header>
	<ion-navbar color="negro">
		<ion-title>Mis Preferencias</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>

	<ion-list>
		<form #datos="ngForm">



			<!-- Provincia  -->
			<ion-item (click)="abrirModalProvincias()">
				<ion-label stacked>Provincia</ion-label>
				<ion-input disabled [value]="preferenciasUsuario.provincia?.nombre"> </ion-input>	
			</ion-item>



			<!-- Localidad  -->
			<ion-item (click)="abrirModalLocalidades()">
				<ion-label stacked>Localidad</ion-label>
				<ion-input disabled [value]="preferenciasUsuario.localidad?.nombre"> </ion-input>	
			</ion-item>



			<!-- Grupo sanguineo  -->
			<ion-item>
				<ion-label floating>Grupo sanguineo</ion-label>
				<ion-select [(ngModel)]="preferenciasUsuario.grupoSanguineo" okText="Aceptar" cancelText="Cancelar" name="grupo" #grupo="ngModel">
					<ion-option *ngFor="let grupo of listaGruposSanguineos" [value]="grupo.id">
						{{grupo.nombre}}
					</ion-option>
				</ion-select>
			</ion-item>



			<!-- Factor sanguineo  -->
			<ion-item>
				<ion-label floating>Factor sanguineo</ion-label>
				<ion-select [(ngModel)]="preferenciasUsuario.factorSanguineo" okText="Aceptar" cancelText="Cancelar" name="factor" #factor="ngModel">
					<ion-option *ngFor="let factor of listaFactoresSanguineos" [value]="factor.id">
						{{factor.nombre}}
					</ion-option>
				</ion-select>
			</ion-item>

			

			<ion-item>
				<p>Estos datos se guardarán de forma local en tu móvil y <strong>nunca serán enviados</strong> a nuestros servidores ni compartidos de niguna forma.</p>
			</ion-item>
			

		</form>

		<button ion-button *ngIf="esRoot" (click)="mostrarListado()" class="btn-inline btn-secondary " color="grisOscuro" full>
			Omitir
		</button>
		<button ion-button *ngIf="esRoot" (click)="guardarCambios()" class="btn-inline btn-primary " color="principal" full>
			Guardar datos
		</button>

		<button ion-button *ngIf="!esRoot" (click)="guardarCambios()" color="principal" full>
			Guardar datos
		</button>
	</ion-list>

</ion-content>
